{% extends "admin/core/base.html" %}

{% block title %}Scripts Plugin: Titles JATS to HTML{% endblock %}

{% block body %}

  <div class="large-12 columns">
    <div class="box">
      <div class="title-area">
        <h2>Transform Article Titles</h2>
      </div>
      <div class="content">
        <p>Enter either an article or issue ID, don't enter both. Articles must have JATS galley files.</p>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}

          <button class="button" type="submit">Transform Titles</button>
        </form>

        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
